@font-face{
    font-family: 'Sport Day Bold';
    src: url(font/Sport\ Day\ Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #0b0b0b;
    font-family: 'Poppins', sans-serif;
}

.header {
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
}

.logo {
    color: white;
    font-size: 34px;
}

span {
    color: #00ffee;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00ffee;
    transition: .3s;
}

.container1, .container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 15px;
    color: #fff;
}

.container1 h1, .container2 h1 {
    color: #00ffee;
    font-family: 'Sport Day Bold';
    font-size: 24px;
}

.content1, .content2, .content3, .content4 {
    flex: 1 1 45%;
    min-width: 300px;
}

.content1 ol, .content2 ul, .content3 ol, .content4 ul {
    color: white;
    margin-left: 20px;
}

aside.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.home-img img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 25px #00ffee;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px  #00ffee, 0 0 50px #00ffee, 0 0 100px #00ffee;
}

/* Responsive button */
.btn {
    padding: 15px 25px;
    font-weight: bold;
    border: none;
    color: #00ffee;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    background: transparent;
}
.btn::before {
    content: "";
    background: linear-gradient(45deg, #00ffee, #0effa6, #ff0000, #fbff00, #3c00ff, #00ffee, #b300ff, #00ffee);
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    z-index: -1;
    border-radius: 10px;
    animation: glowing 20s linear infinite;
    opacity: 0;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.btn:hover::before {
    opacity: 1;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: aqua;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    .container1, .container2 {
        flex-direction: column;
        gap: 1rem;
    }

    .logo {
        font-size: 28px;
    }
}
